@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Rufina&display=swap');

.header-container{
    background-color: #000000;
    font-family: 'Rufina', serif;
    font-weight: bold;
    color: #afe1f6;
    font-size: 16px;
}

.site-logo{
    width: 23rem;
    position: absolute;
    left: 0;
}

.header-flex{
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    padding: 9rem 0 3rem 0;
}

.header-flex ul{
    display: flex;
    position: 0 auto;
    margin-bottom: 0.45rem;
}

/* .header-flex ul:before,
.header-flex ul:after {
    content: '';
    border-top: 2px solid #00ff6a;
    margin: 0 0px 0 0;
    flex: 1 0 20px;
}
.header-flex ul:after {
    margin: 0 0 0 0px;
} */

.header-flex ul li {
    font-family: 'Rufina', serif;
    margin-right: 2rem;
    margin-left: 2rem;
    color: #dabfa7;
}

.header-flex li:first-of-type{
    margin-left: 0.8rem;
}

.header-flex li:last-of-type{
    margin-right: 0.8rem;
}

.header-flex ul li:hover{
    color: white;
    transition: 0.2s ease-in;
    cursor: pointer;
}

/* mobile menu */

.mobile-menu{
    width: 3.5rem;
    margin: 0 auto;
}

.mobile-menu-icon{
    cursor: pointer;
}

.mobile-nav-links a{
    width: 100%;
    text-align: center;
    color: #ff7c00;
}

.open-icon:hover{
    cursor: pointer;
}

.close-icon{
    cursor: pointer;
}

.mobile-nav-links{
    border-top: 1px solid #ff7c00;
}

.mobile-nav-links li:hover{
    color: #ffffff;
    transition: 0.3s ease-in;
    cursor: pointer;
    background-color: rgba(255, 161, 38, 0.548);
}

.mobile-nav-links li{
    font-family: 'Rufina', sans-serif;
    background-color: rgba(66, 66, 66, 0.822);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.mobile-nav-links li:last-of-type{
    
}

.mobile-menu-extension{
    position:absolute;
    width: 100%;
    z-index: 1000;
}

/* responsive styles */

@media only screen and (max-width: 580px){
    .header-flex ul:first-of-type{
        display: none;
    }
}

@media only screen and (min-width: 580px){
    .mobile-menu{
        display: none;
    }
    .mobile-menu-extension{
        display: none;
    }
}


